@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

body {margin-top: 0.5%; background-color: darkslategray}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    width: 95%;
}
#aboutMe {
    margin-left: 2%;
}

#contactInfo {
    align-content: center;
    width: 70%;
    height: auto;
    margin-top: 5%;
    margin-left: 34%;
}
h3 {
    border-style: solid;
    border-width: 2px;
    border-color: #5e3308;
    color: #dddddd;
    border-radius: 10px;
    height: 68%;
    background-image: url("https://t4.ftcdn.net/jpg/03/31/13/53/360_F_331135337_r7FY4tOpP3woiyeNQTarDw6va8wxvvGd.jpg");
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}
#logo {
    width: 100px;
}

#collageImage {
    align-content: center;
    width: 70%;
    height: auto;
    margin-top: 2%;
    margin-left: 8%;
}

#fabseImg {
    width: 35%;
    padding-right: 2%;
}
#cssmenu {
    width: 220px;
    font-family: Raleway, sans-serif;
    color: #ffffff;
}
#cssmenu ul ul {
    display: none;
}
#cssmenu > ul > li.active > ul {
    display: block;
}
.align-right {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 16px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background: silver;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
    color: #d8f3f0;
}
#cssmenu ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#cssmenu ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #dddddd;
    background: #49505a;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu ul ul ul li a {
    padding-left: 32px;
}
#cssmenu ul ul li a:hover {
    color: #ffffff;
}
#cssmenu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #dddddd;
}