body {
    background-color: darkslategray;
    background-image: url("Images/FABHEST_TRANSP.png");
}

h1 {
    color: #dddddd;
    text-align: center;
    font-family: "Algerian", serif;

    font-size: 60px;
    margin-top: -4%;
}

#logo {
    width: 500px;
    margin-left: 35%;
    margin-top: -3%;
}